.default-color {
  color: rgba(50, 71, 92, 0.6);
}
.default-dark {
  color: rgba(50, 71, 92, 0.87);
}

.congrat-img {
  width: 200px !important;
  height: 140px !important;
}
.box-padding {
  padding: 20px !important;
}

.smallIcon {
  width: 42px;
  height: 42px;
}

.xsIcon {
  width: 24px;
  height: 24px;
}

.payment-dropdown .dropdown-toggle {
  background-color: white !important;
  background-image: url("../../images/cards/icons-more.png");
  background-size: cover;
  background-position: center;
  border: 0 !important;
}

.payment-dropdown .dropdown-toggle::after {
  color: transparent;
}

.payment-dropdown .dropdown-menu.show {
  min-width: 100px;
  /* left: -35px; */
  border: 0;
  box-shadow: rgba(50, 71, 92, 0.2) 0px 5px 5px -3px,
    rgba(50, 71, 92, 0.14) 0px 8px 10px 1px,
    rgba(50, 71, 92, 0.12) 0px 3px 14px 2px;
}

.year-dropdown .dropdown-menu.show {
  min-width: 70px;
  /* left: -35px; */
  border: 0;
  box-shadow: rgba(50, 71, 92, 0.2) 0px 5px 5px -3px,
    rgba(50, 71, 92, 0.14) 0px 8px 10px 1px,
    rgba(50, 71, 92, 0.12) 0px 3px 14px 2px;
}

.payment-dropdown .dropdown-item {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding: 10px !important;
  color: rgba(50, 71, 92, 0.6);
}
.dropdown-item:active {
  background-color: transparent !important;
  padding: 10px;
}

.apexcharts-ycrosshairs-hidden {
  opacity: 0;
}

.apexcharts-ycrosshairs {
  opacity: 0;
  display: none;
}
.order {
  background-color: white !important;
  background-image: url(../../images/svgs/order.svg);
  background-size: cover;
  height: 105px;
  background-repeat: no-repeat;
}
.revenue {
  background-image: url(../../images/svgs/revenue.svg);
}

.profit {
  background-image: url(../../images/svgs/profit.svg);
}

.growth {
  background-image: url(../../images/svgs/growth.svg);
  height: 155px;
}

.income {
  background-image: url(../../images/svgs/income.svg);
  height: 220px;
}

.total_orders {
  background-image: url(../../images/svgs/total_orders.svg);
  width: 100px;
}

/* Button:hover {
  background-color: none !important;
} */
