.css-1o3owhp {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  width: 40px;
  height: 40px;
}

.css-1hy9t21 {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}

.navbarDiv {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.myImg {
  background-image: url("../../images/avatars/0.jpg");
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.img1 {
  background-image: url("../../images/avatars/4.png");
}

.img2 {
  background-image: url("../../images/avatars/6.png");
}
.img3 {
  background-image: url("../../images/avatars/1.png");
}

.img4 {
  background-image: url("../../images/avatars/11.png");
}

.image-dropdown .dropdown-toggle {
  /* background-color: red !important; */
  background-image: url("../../images/avatars/0.jpg");
  background-size: cover;
  background-position: center;
  border: 0 !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.image-dropdown .dropdown-toggle::after {
  color: transparent;
}

.myProfile .dropdown-menu.show {
  width: 230px;
}

/* notification */
.notification .dropdown-toggle {
  background-image: url("../../images/cards/notification.png") !important;
  background-color: white !important;
  /* background-image: url("../../images/cards/icons-more.png"); */
  background-size: cover;
  background-position: center;
  border: 0 !important;
  width: 24px;
  height: 24px;
}

.notification .dropdown-toggle::after {
  color: transparent;
}

.dropdown-toggle::after {
  display: none;
}

.navbarDiv .btn {
  padding: 0;
}

/* .icon-background .dropdown-menu.show {
  border-radius: 50%;
  background-color: rgba(133, 146, 163, 0.16);
  
  width: 40px;
  height: 40px;
} */

.icon-background {
  border-radius: 50%;
  background-color: rgba(133, 146, 163, 0.16);
  /* background-color: red; */
  width: 50px;
  height: 50px;
}

.color-div {
  width: 45px;
  height: 45px;
  border-radius: 5px;
}
.blue {
  background-color: rgb(3, 195, 236);
}
.gray {
  background-color: rgb(133, 146, 163);
}
.green {
  background-color: rgb(113, 221, 55);
}
.red {
  background-color: rgb(255, 62, 29);
}
.orange {
  background-color: rgb(255, 171, 0);
}
.purple {
  background-color: rgb(105, 108, 255);
}
