.default {
  color: rgba(50, 71, 92, 0.6);
  background-color: white;
}

.active {
  background-color: rgba(3, 195, 236, 0.16) !important;
  color: var(--color) !important;
}

.default-color {
  color: rgba(50, 71, 92, 0.6);
}

.round-border {
  border-radius: 10px !important;
}

/* span {
  color: inherit;
}

.inherit {
  color: inherit;
} */
