.default {
  color: rgba(50, 71, 92, 0.6);
  background-color: white !important;
}

.active {
  background-color: rgba(3, 195, 236, 0.16) !important;
  /* color: rgb(3, 195, 236) !important; */
  color: var(--color) !important;
}

.round-border {
  border-radius: 10px !important;
}

/* span {
  color: inherit;
}

.inherit {
  color: inherit;
} */
