:root {
  --my-color: var(--color); /* 定义一个CSS变量并将其值设置为color变量的值 */
}

.default {
  color: rgba(50, 71, 92, 0.6);

  background-color: white !important;
}

.active {
  background-color: rgba(3, 195, 236, 0.16) !important;
  color: rgb(3, 195, 236) !important;
}

.round-border {
  border-radius: 10px !important;
}

/* span {
  color: inherit;
}

.inherit {
  color: inherit;
} */
