* {
  margin: 0;
  padding: 0;
  color: rgba(50, 71, 92, 0.6);
  border: none;
  text-shadow: none !important;
  box-shadow: none !important;
}

a {
  text-decoration: none !important;
  color: inherit;
}

/* a:hover {
  color: #007bff;
} */
