* {
  margin: 0;
  padding: 0;
  /* color: rgba(50, 71, 92, 0.6); */
  border: none;
  text-shadow: none !important;
  /* box-shadow: none !important; */
}

a {
  text-decoration: none !important;
  color: inherit;
}

.font-lg {
  font-size: 1.4993rem;
}

.font-md {
  font-size: 1.2rem;
}

.font-sm {
  font-size: 1rem;
}

.color-green {
  color: rgb(113, 221, 55);
}

.color-red {
  color: rgb(255, 62, 29);
}
